{% extends "layout.html" %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/classical_musicians.css') }}">
{% endblock %}
{% block contents %}
<div class="row titleRow">
	<div class="col-md-6 col-md-offset-3">
		CLASSICAL MUSICIANS
	</div>
</div>

<div class="row tagRow">
	<div class="col-md-6 col-md-offset-3">
		{% for category in category_list %}
		{% if category.upper_id == 1 %}
		<div class="tag">{{ category.name }}</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% if contents.musician_list %}
{% for musician in contents.musician_list %}
<div class="row musicianRow">
	<div class="col-md-6 col-md-offset-3"> <!-- profile picture fits into parent's size -->
		<img src="{{ musician.photo_url }}" class="profile_picture img-thumbnail">
		<a href="{{ url_for('musician_profile', musician_id=musician.id)}}" class="view_profile">{{ musician.user.username }}</a>
		<div class="musician_category">{{ musician.category.name }}</div>
		<div class="musician_education">{{ musician.education }}</div>
		<div class="musician_phrase">" {{ musician.phrase }} "</div>
		<div>
			<a href="{{ url_for('musician_profile', musician_id=musician.id)}}" class="view_profile pull-right">프로필 보기</a>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}