{% extends "layout.html" %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/musician_profile.css') }}">

<meta property="fb:app_id"          content="944323692250762" />
<meta property="og:url"             content="{{ url_for('musician_profile', musician_id=musician.id, _external=True)}}" /> 
<meta property="og:title"           content="{{ username }}" /> 
<meta property="og:image"           content="{{ musician.photo_url }}" /> 

{% endblock %}
{% block contents %}
<div class="row nameRowTitle">
    <div class="col-md-5 col-md-offset-3">
        <i class="fa fa-music fa-3"></i>
        {{ username }}
        <span class="categoryInfo">
            {% for category in category_list %}
            {% if category.id == musician.category_upper_id %}
            {{ category.name }}
            {% endif %}
            {% endfor %}
            | 
            {% for category in category_list %}
            {% if category.id == musician.category_id %}
            {{ category.name }}
            {% endif %}
            {% endfor %}
            전공
        </span>
    </div>
    <div class="col-md-1 fb-share-button" data-href="{{ url_for('musician_profile', musician_id=musician.id, _external=True)}}" data-layout="button_count">
    </div>
</div>

<div class="row pictureRow">
    <div class="col-md-6 col-md-offset-3" style="background-image:url({{ musician.photo_url }});">
    </div>
</div>

<div class="row phraseRow">
    <div class="col-md-6 col-md-offset-3">
        " {{ musician.phrase }} "
    </div>
</div>

<div class="row educationRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-graduation-cap fa-3"></i>
        학력사항
    </div>
</div>

{% if education_data_list %}
{% for data in education_data_list %}
<div class="row educationRow">
    <div class="col-md-6 col-md-offset-3">
        {{ data.education_data }}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row noDataRow">
    <div class="col-md-6 col-md-offset-3">
        학력사항이 없습니다.
    </div>
</div>
{% endif %}

<div class="row repertoireRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-book fa-3"></i>
        연주 레퍼토리
    </div>
</div>

{% if repertoire_data_list %}
{% for data in repertoire_data_list %}
<div class="row repertoireRow">
    <div class="col-md-6 col-md-offset-3">
        {{ data.repertoire_data }}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row noDataRow">
    <div class="col-md-6 col-md-offset-3">
        레퍼토리 정보가 없습니다.
    </div>
</div>
{% endif %}

<div class="row videoRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-book fa-3"></i>
        연주 영상
    </div>
</div>

{% if video_data_list %}
{% for data in video_data_list %}
<div class="row videoRow">
    <div class="col-md-6 col-md-offset-3">
        {% autoescape false %}
        {{ data.video_data }}
        {% endautoescape %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row noDataRow">
    <div class="col-md-6 col-md-offset-3">
        연주 동영상 정보가 없습니다.
    </div>
</div>
{% endif %}

<div class="row commentRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-comment fa-3"></i>
        메시지 남기기
    </div>
</div>

<div class="row oldCommentRow">
    <div id="comment_row" class="col-md-6 col-md-offset-3">
        {% if comments %}
        {% for comment in comments %}
        <div class="comment_box">
            <div class="comment_author">
                {{ comment.author_name}}
            </div>
            <div class="comment_content">
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="row commentInputRow">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group input-sm">
            <input type="text" name="comment" id="comment" class="form-control" placeholder="메시지 남기기" data-musician-id="{{ musician.id }}">
            <span class="input-group-btn">
                <button class="btn btn-default" id="comment_create" type="button">메시지 남기기</button>
            </span>
        </div>
    </div>
</div>

{% endblock %}