{% extends "layout.html" %}
{% block customhead %}

{% endblock %}
{% block contents %}

<div class="row">
    <!-- 카테고리, 프로필, 뮤지션 이름 -->
    <div class="col-md-6">
        <div id="category_major">
            {{ musician.category }} {{ musician.major }}
        </div>
        <div id="username">
            {{ username }}
        </div>
    </div>
    
    <div class="col-md-6">
        Like and View numbers, SNS share button here
    </div>

</div>

<div class="row">
    <div class="col-md-12 musician_phrase">
        {{ musician.phrase }}
    </div>
</div>
{% endblock %}