.titleRow div{
    padding-top: 20px;
    background-color: #5cb85c;
    font-size: 2em;
    color: #fff;
}

.tagRow{
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.tagRow div{
    background: rgba(255, 255, 255, 0.8);
}

.tagRow .col-md-6 .tag{
    display: inline-block;
    margin: 0px 0px 5px 0px;
    padding: 0px 3px 0px 3px;
    background-color: white;
    border: 1px solid #f3f3f3;
}

.musicianRow div{
    background: rgba(255, 255, 255, 0.8);
}