.titleRow div{
    padding-top: 20px;
    background-color: #5cb85c;
    font-size: 2em;
    color: #fff;
}

.tagRow{
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.tagRow div{
    background: rgba(255, 255, 255, 0.8);
}

.tagRow .col-md-6 .tag{
    display: inline-block;
    margin: 0px 0px 5px 0px;
    padding: 0px 3px 0px 3px;
    background-color: white;
    border: 1px solid #f3f3f3;
}

.musicianRow{
    margin-bottom: 1px;
}

.musicianRow .musicianBg{
    padding: 0px;
}

.musicianRow .musicianInfo{
    margin-top: 250px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.musicianRow .musicianInfo a{
    color: #ffffff;
}

.musicianRow .musicianInfo a:hover{
    color: #ffffff;
}

.musicianRow .musicianInfo .musicianName{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    color: white;
}

.musicianRow .musicianInfo .musicianCategory{
    display: inline-block;
    color: white;
}

.musicianRow .musicianInfo .musicianPhrase{
    margin: 0px 10px 0px 10px;
    color: white;
    font-size: 1.2em;
}

.musicianRow .musicianName{
    font-size: 2em;
}