.musician{
    background-color: white;
}

.title{
    font-family: "Lobster", cursive;
    color: #BB8F76;
    text-shadow: 2px 2px white;
}

hr{
    margin-top: 0;
    border-top: 1px dashed #CCCCCC;
}

.newest_musicians{
    padding-bottom: 20px;
}

.newbie_box{
    height: 263px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;

}

.newbie_name{
    font-size: 1.5em;
    font-weight: bold;
}

.newbie_category{
    float: left;
    font-size: 0.9em;
    margin-right: 5px;
}

.newbie_major{
    float: left;
    font-size: 0.9em;
}
