/* = = = = = = = = = = =

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

= = = = = = = = = = = */

.innerbox{
    background: rgba(255, 255, 255, 0.8);
}

.box .usernameRow div{
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    background-color: #428bca;
    text-align: center;
    font-size: 2em;
    color: #fff;

    /*border-top-left-radius: 25px;*/
    /*border-bottom-right-radius: 25px;*/
}

.pictureRowTitle div, .categoryRowTitle div, .locationRowTitle div, .phraseRowTitle div{
    padding-top: 20px;
    background-color: #5cb85c;
    font-size: 2em;
    color: #fff;
}

.pictureRow .form-group, .categoryRow .form-group, .locationRow .form-group,
.phraseRow .form-group, .repertoireRow .form-group, .videoRow .form-group{
    margin-bottom: 0px; /* make a group with this margin property */
    padding-top: 15px; padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.educationGroup .educationRow .form-group{
    margin-bottom: 0px;
    padding-top: 15px; padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.addedRow .form-group{
    /* seperated newEducationRow from educationRow to avoid
    having too much space between added input fields
    which occurs when their padding properties are inherited from educationRow. */
    margin-bottom: 0px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.educationRowTitle{
    margin-top: 20px; /* seperate educationRowTitle from upper elements */
}

.educationRowTitle div{
    padding-top: 20px;
    background-color: #5bc0de;
    font-size: 2em;
    color: #fff;

    /*border-top-left-radius: 25px;*/
}

.repertoireRowTitle div{
    padding-top: 20px;
    background-color: #5bc0de;
    font-size: 2em;
    color: #fff;
}

.videoRowTitle{
    margin-top: 20px; /* seperate educationRowTitle from upper elements */
}

.videoRowTitle div{
    padding-top: 20px;
    background-color: #f0ad4e;
    font-size: 2em;
    color: #fff;

    /*border-top-left-radius: 25px;*/
}

.oldVideoRow .oldList .list-group .deleteOldRecord{

}

/*.oldEducationRow div, .oldRepertoireRow div, .oldVideoRow div{
    background: rgba(255, 255, 255, 0.7);
}
*/

.oldList{
    background: rgba(255, 255, 255, 0.7);
}

.nothingMessage{
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.submitBtnRow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.submitBtnRow .form-group{
    padding: 0px;
}

.submitBtnRow .btn{
    font-size: 2em;
    border-radius: 0px;
    border: none;
}


#additional_fields{
    margin-top: 30px;
}


hr{
    margin-top: 0px;
    border-top: 1px dashed #eeeeee;
}