.main {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

#essential_box{
    background-color: rgb(247, 247, 247);
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed rgb(221, 221, 221);
}

#top-title{
    text-align: center;
}

#additory_box{
    background-color: rgb(229, 229, 229);
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed rgb(204, 204, 204);
    margin-top: 30px;

}

.submit-button{
    padding: 15px;
}

a {
    color: #BB8F76;
}

a:hover, a:focus {
    color: #AF866F;
    text-decoration: none;
}


hr {
    margin: 40px 0px 40px 0px;
    border-top: 1px dashed #e2e2e2;
}


.alert{
    max-width: 420px;
    margin: 0 auto 20px auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

h3{
    text-align: center;
}