.nameRowTitle div{
    padding-top: 20px;
    background-color: #62C562;
    font-size: 2em;
    color: white;
}

.nameRowTitle div .categoryInfo{
    text-align: right;
    font-size: 0.5em;
    color: #fff;
}

.pictureRow div{
    height: 300px;
    background-size: cover;
}

.phraseRow div{
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #5CB85C;
    color: white;
}