.box{
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.image_box{
    text-align: center;
}

.profile_image{
<<<<<<< HEAD
    width: 250px;
    height: 250px;
    border: 5px solid white;
    box-shadow: 0px 2px 3px #CBCBCB;
=======
    width: 160px;
    height: 160px;
    border: 5px solid white;
    box-shadow: 0px 2px 9px #CBCBCB;
>>>>>>> 92ce70e5e79fea3f98b7edf78a5d2db9e8e5013a
}

#username{
    display: block;
    text-align: center;
    font-weight: bold;
}

.category_major{
    display: block;
}

#category{
    text-align: center;
}

#major{
    text-align: center;
}

#phrase{
<<<<<<< HEAD
    padding: 10px;
=======
>>>>>>> 92ce70e5e79fea3f98b7edf78a5d2db9e8e5013a
    text-align: center;
    font-style: italic;
}

.graduation-cap{
    padding: 10px;
    text-align: center;
}

.education-list{
    padding: 10px;
}

.comment{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    /*border: 1px dashed #DBAC9B;*/
    box-shadow: 0px 0px 5px #E5E5E5;
    margin: 10px;
}

.author_master{
    font-size: 1.4em;
    color: #AE846C;
}

.author_name{
    font-size: 1.3em;
}

.created_on{
    margin-left: 20px;
    color: #C9C9C9;
}
<<<<<<< HEAD

.video{
    max-width: 100%;
}
=======
>>>>>>> 92ce70e5e79fea3f98b7edf78a5d2db9e8e5013a
