body{
    background-color: #EDEDED;
    font-family: "Malgun Gothic", verdana;
}


.navbar .nav > li > a {
    color:  #ffffff;
}

.navbar-default {
    background-color: #CC575A;
    border-color: #BD5959;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #D95D5F;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FEF3D7;
    background-color: transparent;
}

.nav-container{
    background-color: #CC575A;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #D95D5F;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FEF3D7;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    width: 120px;
    text-align: center;
    font-family: "Fredoka One", cursive;
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}

.navbar-fixed-bottom{
    height: 80px;
}

.navbar-default .navbar-text{
    font-size: ;
    color: white;
}

.nav-menu{
    color: white;
}

.no-list {
    padding: 10px;
    text-align: center;
}

/* login.html */

.login_submit{
    float: right;
}

/* buttons */

.btn-default{

    color: white;
    background-color: #CC575A;
    border-color: #D95D5F;

}