{% extends "layout.html" %}
{% block contents %}
<div class="LLArticleList">
    {% if context.article_list %}
    {% for article in context.article_list %}
    <div class="well" id="article_{{ article.id }}">
        <h1>{{ article.title }}</h1>
        <h3>{{ article.author }}</h3>
        <h6>{{ article.date_created.strftime("%Y-%m-%d %H:%M:%S")}}</h6>
        <p>
            {{ article.content|truncate(50)|safe }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="no_list">
        글이 아직 없다능!
    </div>
    {% endif %}
</div>
{% endblock %}