{% extends "layout.html" %}
{% block customhead %}
<style type="text/css">
    .musician{
        background-color: white;
    }

    .fredoka{
        font-family: "Fredoka One", cursive;
        color: #BB8F76;
        text-shadow: 2px 2px white;
    }

    hr{
        margin-top: 0;
        border-top: 1px dashed #CCCCCC;
    }

    .newbie_box{
        height: 293px;
        border-radius: 20px;
        background-color: white;

    }

</style>
{% endblock %}
{% block contents %}
<div class="row">
    <h3 class="fredoka">NEWEST MUSICIANS</h3>
    <hr>
    {% if index.musician_list %}
    {% for musician in index.musician_list %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="newbie_box">
        {{ musician.user.username }}
        {{ musician.category.name }}
        {{ musician.major.name }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}