{% extends "layout.html" %}
{% block customhead %}
<style type="text/css">
    .musician{
        background-color: white;
    }

</style>
{% endblock %}
{% block contents %}
<div class="row">
    {% if index.musician_list %}
    {% for musician in index.musician_list %}
    <div class="col-xs-3 col-sm-3 col-md-3">
        {{ musician.user.username }}
        {{ musician.category.name }}
        {{ musician.major.name }}
        반가운 우리 뉴비!
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}