{% extends "layout.html" %}

{% block customhead %}
<style type="text/css">

.main {
    background-color: white;
    max-width: 420px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.main .help-message{
    text-align: center;
    font-size: 1em;        
}

</style>
{% endblock %}

{% block contents %}

<div class="row">
    <div class="main">
        <h3>로그인</h3>
        <a href="{{ url_for('sign_up') }}" class="help-message">아직 회원이 아니시라면, 가입하세요.</a>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
            </div>
        </div>

        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="inputUsernameEmail">Username or email</label>
                <input type="text" class="form-control" name="user-email" id="inputUsernameEmail">
            </div>

            <div class="form-group">
                <a class="pull-right" href="#">Forgot password?</a>
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="user-pw" id="inputPassword">
            </div>

            <div class="checkbox pull-right">
                <label>
                    <input type="checkbox">
                    Remember me </label>
                </div>

                <button type="submit" class="btn btn btn-primary">
                    Log In
                </button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-2 col-sm-offset-5 llLoginCreate">
        <form role="form" method="post">
            {{ form.hidden_tag() }}
            {% if form.errors %}
            <div class="alert alert-danger fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {% for field, errors in form.errors.items() %}
                <ul>
                    {% for error in errors %}
                    {{ error }}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {% endif %}

            {% from "_form_field.html" import render_field %}
            {% for field in form if field.widget.input_type != 'hidden' %}
            {{ render_field(field, class="form-control") }}
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-default login_submit">로그인</button>
            </div>
        </form>
    </div>
</div> -->

{% endblock %}
