{% extends "layout.html" %}
{% block customhead %}
{% endblock %}
{% block contents %}
<div class="row">
    <h3 class="fredoka">Request</h3>
    <hr>
    {% if index.request_friends %}
    {% for user in index.request_friends %}
    <div class="col-xs-12 col-sm-6 col-md-3 newest_musicians">
        <div class="newbie_box">
            <div class="newbie_name">{{ user.username }}</div>
            <form role="form" method="post">
                <a href="{{ url_for("accept_friend_request", user_id=user.id) }}" class="btn btn btn-default">친구수락</a>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    친구 요청이 없습니다.
    {% endif %}
</div>
<div class="row">
    <h3 class="fredoka">Request</h3>
    <hr>
    {% if index.friends_request %}
    {% for user in index.friends_request %}
    <div class="col-xs-12 col-sm-6 col-md-3 newest_musicians">
        <div class="newbie_box">
            <div class="newbie_name">{{ user.username }}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    그 이름을 가진 회원님이 없습니다.
    {% endif %}
</div>
<div class="row">
    <h3 class="fredoka">Friends</h3>
    <hr>
    {% if index.friends %}
    {% for user in index.friends %}
    <div class="col-xs-12 col-sm-6 col-md-3 newest_musicians">
        <div class="newbie_box">
            <div class="newbie_name">{{ user.username }}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    아직 친구가 없습니다.
    {% endif %}
</div>
{% endblock %}