{% extends "layout.html" %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_friends.css') }}">
{% endblock %}
{% block contents %}

<div class="row requestReceivedRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-chevron-down fa-3"></i>
        REQUEST RECEIVED
    </div>
</div>

<div class="row requestReceivedRow">
    <div class="col-md-6 col-md-offset-3">
        {% if index.request_friends %}
        {% for user in index.request_friends %}
        <div class="who">
            <div class="name">{{ user.username }}</div>
            <form role="form" method="POST">
                <a href="{{ url_for("accept_friend_request", user_id=user.id) }}" class="btn btn btn-default">친구수락</a>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <div class="nobody">친구 요청을 받은 적이 없네요!</div>
        {% endif %}
    </div>
</div>

<div class="row requestSentRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-chevron-up fa-3"></i>
        REQUEST SENT
    </div>
</div>

<div class="row requestSentRow">
    <div class="col-md-6 col-md-offset-3">
        {% if index.friends_request %}
        {% for user in index.friends_request %}
        <div class="who">
            <div class="name">{{ user.username }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="nobody">친구 요청을 보낸 적이 없어요!</div>
        {% endif %}
    </div>
</div>

<div class="row friendsRowTitle">
    <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-users fa-3"></i>
        MY FRIENDS
    </div>
</div>

<div class="row friendsRow">
    <div class="col-md-6 col-md-offset-3">
        {% if index.friends %}
        {% for user in index.friends %}
        <div class="who">
            <div class="name">{{ user.username }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="nobody">아직 친구가 한 명도 없네요.</div>
        {% endif %}
    </div>
</div>

{% endblock %}