{% extends "layout.html" %}

{% block customhead %}
<style type="text/css">

/* default colors */
/* creamy brown: #BB8F76 */
/* deep creamy brown: #AF866F */

.main {
    background-color: white;
    max-width: 420px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
}

h3, .h3{
    text-align: center;
}

.please-register{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9em;
    color: #BB8F76;
}

a {
    color: #BB8F76;
}

a:hover, a:focus {
    color: #AF866F;
    text-decoration: none;
}

.help{
    font-size: 0.9em;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 45%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 100px;
    font-size: 0.7em;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.checkbox{

}
.alert{
    max-width: 420px;
    margin: 0 auto 20px auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

</style>
{% endblock %}

{% block contents %}

<div class="row">
    <div class="main">
        <h3>로그인</h3>
        <a href="{{ url_for('sign_up') }}"><span class="please-register">아직 회원이 아니시라면? 가입부터 하기!</span></a>

        <form role="form" method="POST">
            <div class="form-group">
                <label for="inputEmail">이메일</label>
                <input type="text" class="form-control" name="user-email" id="inputEmail">
            </div>

            <div class="form-group">
                <a class="pull-right" href="#"><span class="help">비밀번호 찾기</span></a>
                <label for="inputPassword">비밀번호</label>
                <input type="password" class="form-control" name="user-pw" id="inputPassword">
            </div>

            <div class="checkbox pull-right">
                <label>
                    <input type="checkbox"><span class="help">로그인 정보 저장</span>
                </label>
            </div>

            <button type="submit" class="btn btn btn-default">
                로그인
            </button>

        </form>

        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">더 쉽게 로그인</span>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="btn btn-block btn-social btn-sm btn-facebook" href="{{ url_for('facebook_login') }}">
                    <i class="fa fa-facebook"></i>페이스북 연동
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="btn btn-block btn-social btn-sm btn-google-plus" href="{{ url_for('google_login') }}">
                    <i class="fa fa-google-plus"></i>구글플러스 연동
                </a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
