{% extends "layout.html" %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block contents %}

<div id="profile-box" class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
    <h1 class="lobster sorry">STILL WORKING FOR<br>BETTER SERVICE!</h1>
    <h2 class="lobster">ACCOUNT</h2>
    {% if g.userdata != None %}
    {% if g.userdata.password %}
    <img src="{{ url_for('static', filename='images/profile_default.jpg')}}" class="img-thumbnail">
    {% else%}
    <img src="{{ g.userdata.photo }}">
    {% endif %}
    <div class="row">
        <h3 class="lobster">NAME</h3>
        {{ g.userdata.username }}
    </div>
    <div class="row">
        <h3 class="lobster">E-MAIL</h3>
        {{ g.userdata.email}}
    </div>    
    {% endif %}
</div>

{% endblock %}
{% block scripts %}

{{ super() }}
<script src="{{ url_for('static', filename='js/musician_new.js') }}"></script>
{% endblock %}
